%h1
  %a.anchor{:href => "#markhaml", :name => "markhaml"}>
    %span.octicon.octicon-link
  markhaml
%p Convert  Markdown =&gt; HTML =&gt; HAML
%h1
  %a.anchor{:href => "#warning", :name => "warning"}>
    %span.octicon.octicon-link
  Warning
%p Running this script will attempt to convert (and subsequently overwrite) pre-existing *.html and *.haml files within an entire directory.
%p ALL OF THEM.
%p ALL THE .MD
%p AND ALL THE .HTML
%p SIMULTANEOUSLY
%p IN ALL THE FOLDERS
%p IN THAT DIRECTORY TREE
%p The creator is not responsible for your directory getting fubar'd, use version control, hack responsibly
%h2
  %a.anchor{:href => "#howto", :name => "howto"}>
    %span.octicon.octicon-link
  Howto
%p
  %code git clone git@github.com:cin210/markhaml.git
  %code cd markhaml
  %code ruby markhaml /path/to/markdown/folder
%p Insert your own PERSONAL APPLICATION TOKEN from github for more or less unlimited md =&gt; html conversions
%h2
  %a.anchor{:href => "#dependencies", :name => "dependencies"}>
    %span.octicon.octicon-link
  Dependencies
%p
  %code gem install html2haml
  %code gem install octokit
  Be sure to check permissions of the folder used.
